numpy==1.17.4
scipy==1.6.3
pandas==1.2.4
matplotlib==3.4.2
fredtools==0.2.10
lmfit==1.0.2
dicompyler_core==0.5.5
numba==0.53.1
itk==5.2.0.post2
pydicom==2.1.2
ipython==7.26.0
ipywidgets==7.6.3
psutil==5.8.0
SimpleITK==2.1.0
